@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v13/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPrOQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v13/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TrOQ.ttf) format('truetype');
}
/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
}
/* GENERAL STYLES */
body,
html {
  background-color: hsl(216, 12%, 8%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main,
html main {
  background-color: hsl(213, 19%, 18%);
  width: 21em;
  height: 21em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
body main .container,
html main .container {
  width: 85%;
  height: 85%;
}
body main .heading,
html main .heading {
  font-size: 1.5em;
}
body main .text,
html main .text {
  color: hsl(216, 12%, 54%);
  font-size: 14px;
}
/* RATING CARD */
.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rating-container .star-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(213, 19%, 21%);
  border-radius: 100%;
  padding: 10px;
}
.rating-container .star-container .star-icon {
  position: relative;
  z-index: 2;
  width: 14px;
  height: 14px;
}
.rating-container #score-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rating-container #score-form fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}
.rating-container #score-form .option {
  position: relative;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  background: hsl(213, 19%, 21%);
  transition: background-color 0.5s;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.rating-container #score-form .option input[type="radio"] {
  position: absolute;
  appearance: none;
}
.rating-container #score-form .option input:checked + label {
  background-color: hsl(25, 97%, 53%);
}
.rating-container #score-form .option label {
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.rating-container #score-form .option label:hover {
  background-color: hsl(217, 12%, 63%);
}
.rating-container .btn {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 0;
  border-radius: 100px;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.rating-container .btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
.rating-container .btn:active {
  transform: translateY(-10px);
}
/* GRATITUDE CARD */
.gratitude-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.gratitude-container .phone-img {
  width: 140px;
}
.gratitude-container .selection {
  background-color: hsl(213, 19%, 21%);
  border-radius: 50px;
  color: hsl(25, 97%, 53%);
  padding: 10px;
  font-size: 15px;
}
.gratitude-container .gratitude-text {
  text-align: center;
}
.attribution {
  width: 90%;
  position: relative;
  top: 40px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.75em;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.attribution p {
  margin: 10px 0;
}
.attribution a {
  color: hsl(25, 97%, 53%);
  padding: 0 -0.25em;
  margin: 0 -0.25em;
  text-decoration: none;
  box-shadow: inset 0 0 0 0;
  color: hsl(216, 12%, 54%);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.attribution a:hover,
.attribution a:focus {
  outline: thin dotted;
  color: hsl(0, 0%, 100%);
  box-shadow: inset 200px 0 0 0 hsl(25, 97%, 53%);
}
@media screen and (min-width: 768px) {
  .attribution p {
    display: inline;
  }
}
